$theme-colors: ("primary": #000000);
$font-family: "Roboto";
@import '~bootstrap/scss/bootstrap';
@import './admin.scss';

html,
body {
    font-family: $font-family,
        'Segoe UI',
        Helvetica,
        sans-serif;
    height: 100%;
}